<div class="text-center m-3">
  <h2>Movies</h2>
  <div class="cards">
    <% @movies.each do | movie | %>
      <div class="card" style="width: 18rem;">
        <%= image_tag movie.poster_url, class:"card-img-top"%>
        <%= movie.title %>
        </div>
      <% end %>
  </div>
      <%= link_to 'Show my list' , lists_path, class:"btn btn-outline-dark mt-3" %>
</div>
